* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Página INDEX */
:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --border-color-buttons: rgba(255,255,255,0.2);
    --bg-color-buttons: rgba(255,255,255,0.05);
    --bg-color-buttons-hover: rgba(255,255,255,0.2);
    --bg-social-media-hover: rgba(255,255,255,0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
    --font-color-link-footer: rgba(255,255,255,0.5);
}

.light {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --border-color-buttons:rgba(0, 0, 0, 0.3);
    --bg-color-buttons: rgba(0, 0, 0, 0.06);
    --bg-color-buttons-hover: rgba(0,0,0,0.2);
    --bg-social-media-hover: rgba(0,0,0,0.06);
    --switch-bg-url: url(./assets/sun.svg);
    --font-color-link-footer: rgba(0,0,0,0.5);
}

body {
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}

body * {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

#container-content {
    width: 100%;
    max-width: 588px;
    min-width: 320px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

#content-profile {
    text-align: center;
    padding: 24px;
}

#content-profile img {
    width: 135px;
    border-radius: 50%;
    border: 4px solid #9f9f9f;
}

#content-profile p {
    font-weight: 500;
    line-height: 24p;
    margin-top: 8px;
}

#switch {
    position: relative;
    width: 64px;
    margin: 24px auto;

    cursor: pointer;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    cursor: pointer;

    animation: slide-out 0.6s;
}

#switch button:hover {
    outline: 6px solid var(--bg-color-buttons-hover);
}

.light #switch button {
    animation: slide-in 0.6s forwards;
    left: initial;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;

    background: var(--bg-color-buttons);

    border: 1px solid var(--border-color-buttons);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    border-radius: 9999px;
}


/* LINKS PROFILE */
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px 24px;
    
    background-color: var(--bg-color-buttons);
    border: 1px solid var(--border-color-buttons);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background 0.5s;
}

ul li a:hover {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px 24px;
    
    background-color: var(--bg-color-buttons-hover);
    border: 1.5px solid var(--text-color);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
}


#content-social {
    display: flex;
    justify-content: center;

    padding: 24px 0px;

    font-size: 24px;
    
}


#content-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;

    transition: background 0.4s;
}


#content-social a:hover {
    background: var(--bg-social-media-hover);
    padding: 16px;
    border-radius: 50%;
}

footer {
    padding: 24px 0px;
    text-align: center;
}

footer a {
    text-decoration: none;

    transition: color 0.2s;
}

footer a:hover {
    text-decoration: none;
    color: var(--font-color-link-footer);
}

/*Animations*/
@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-out {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}




/* Página ABOUT ME */
#content-aboutme {
    text-align: justify;
    margin-bottom: 48px;
}

#content-aboutme h2 {
    margin-top: 24px;
}

#content-aboutme p {
    margin-top: 24px;
    justify-content: left;
    text-indent: 20px;
}

#container-content hr {
    margin-top: 24px;
    border-color: #473b3b;
}

#button-return {
    position: absolute;
    float: left;
    font-size: 24px;
}

/*media queries*/
@media (min-width: 700px) {
    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
    }

    .light {
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }
}